extends layout

block scripts
 script(src='media/js/drop.api.js')
block content
 section#dropbox
   | сюда
 section#picturesbox
   img#image(src='/media/img/1.png')
   img#image1(src='/media/img/2.ico')
   img#image2(src='/media/img/3.png')
   img#image3(src='/media/img/4.ico')
   img#image4(src='/media/img/6.png')
   img#image5(src='/media/img/7.png')
   img#image6(src='/media/img/8.png')