extends layout

block content
 h3.h3main  Для чего нужна оцифровка видео? 
 span.img_main
   img(src='media/img/article1.png')
 .main
   | Оцифровка видео и аудио – это процесс перевода аудио- и видеозаписи с аудио- и видеокассеты в цифровой файл для дальнейшего хранения, конвертации, обработки и другого использования.
   | Чаще всего видеокассеты оцифровывают, чтобы сохранить видеозапись: с каждым просмотром видеозапись на кассете все больше портится. Это происходит из-за несовершенства технологии хранения информации на видеокассетах: пленка со временем размагничивается, лента растягивается, теряется синхронизация видео, появляются полосы, пропадает четкость изображения, ухудшается звук.
   | В последние годы оцифровка видеокассет становится все более актуальной услугой: в продаже уже нет видеомагнитофонов, на которых можно просмотреть записи, а события, которые запечатлены на этих кассетах, хочется сохранить в памяти на долгие годы…
 form#form
   label
     | Ваше имя
     input#name(type='text')
   label
     | Ваш номер телефона
     input#phone(type='text')
 img(src='media/img/right.jpg', height='250', align='right')