doctype html
head
  meta(charset='utf8')
  // единственный тег который можно не закрывать (в xhtml)
  title Оцифровка
  meta(name='description', content='')
  // не более 255 символов
  meta(name='keywords', content='')
  // не более 255 символов
  link(href='media/bootstrap-3.3.6-dist/css/bootstrap.min.css', rel='stylesheet')
  script(src='media/js/jquery-1.12.2.min.js')
  script(src='media/js/my.js')
  block scripts
  link(href='media/css/style.css', rel='stylesheet')
// В html5 не стилистические теги, а семантические
header#header
  // ведут себя как div, блочные. Нужен для поисковика гугла
  img(src='media/img/logo_e.png', width='200', height='200')
  h1#logotext
    // воспринимается как название (title), h1 единственный на сайте
    | Оцифровка видео- и аудиокассет
  h2 Оцифровка видео- и аудиокассет
  .col-md-8.call
    h3#tel_call(data-title='+375(29)555-99-11') +375(29)555-99-11
    a.btn.btn-success.btn-block.button_call(href='#') Позвонить 
    div
nav.topmenu
  a(href='/home', data-url='media/img/numbers.jpg') Главная
  a(href='/contact', data-url='media/img/numbers2.jpg') Контакты
  a(href='/product', data-url='media/img/numbers3.png') Товары
  a(href='/design', data-url='media/img/numbers4.jpg') Дизайн
  a(href='/price', data-url='media/img/numbers5.jpg') Стоимость
  a(href='/map', data-url='media/img/numbers.jpg') Карта проезда
section.conta
  .col-md-2#leftmenu
    a.btn.btn-success.btn-block(href='#', data-title='Для чего нужна оцифровка видео?', data-url='media/img/article1.png', data-body='Оцифровка видео и аудио – это процесс перевода аудио- и видеозаписи с аудио- и видеокассеты в цифровой файл для дальнейшего хранения, конвертации, обработки и другого использования.\
    Чаще всего видеокассеты оцифровывают, чтобы сохранить видеозапись: с каждым просмотром видеозапись на кассете все больше портится. Это происходит из-за несовершенства технологии хранения информации на видеокассетах: пленка со временем размагничивается, лента растягивается, теряется синхронизация видео, появляются полосы, пропадает четкость изображения, ухудшается звук.\
    В последние годы оцифровка видеокассет становится все более актуальной услугой: в продаже уже нет видеомагнитофонов, на которых можно просмотреть записи, а события, которые запечатлены на этих кассетах, хочется сохранить в памяти на долгие годы…')
      | Оцифровка
    a.btn.btn-success.btn-block(href='#', data-title='К оцифровке принимаются видеокассеты следующих форматов:', data-url='media/img/article2.jpg', data-body='<ul><li>VHS– самый распространенный тип видеокассет. Его еще называют «большая видеокассета»; такие видеокассеты применялись в стандартных видеомагнитофонах.</li>\
    <li>VHS-C– формат видеокассет для компактных видеокамер. Через специальный адаптер такую видеокассету можно было просматривать в обычном видеомагнитофоне. Часто их называют «маленькая кассета для видеокамеры» или «16-миллиметровая кассета», что не совсем верно, потому что ширина пленки этой кассеты – 12,65 мм.</li>\
    <li>Mini DV– цифровой формат видеокассеты. За счет высокого качества эти видеокассеты использовались как для любительской, так и для профессиональной видеосъемки.</li>\
    <li>Video8 —  Аналоговый формат кассет, использовался для бытовой съемки и отличался высоким качеством звукового и видео сигнала.</li>\
    <li>Hi8 — Усовершенствованный формат Video8, который был популярным для любительской съемки и характеризовался отличным качеством записи.</li>\
    <li>Кинопленка 8мм — кинопленка в бобинах для любительской съемки, часто без звукового сопровождения.</li>\
    <li>Аудиокассеты - распространенный формат аудиокассет для магнитофонов и магнитол.</li></ul>')
      | Форматы оцифровки
    a.btn.btn-success.btn-block(href='#', data-title='Оцифровка аудиокассет', data-url='media/img/article3.jpg', data-body='Мы также принимаем для оцифровки и аудиокассеты - это отличный способ сохранить свои аудиозаписи. Ведь кассеты размагничиваются качество звука со временем теряется. У нас вы можете переписать звук с кассеты на диск или флеш-карту. Вы сможете проигрывать запись как обычный mp3 или wav файл.\
    Выходной формат оцифровки аудиокассет – mp3 или wav, 48 000 Гц, 16 бит, 128 Кбит/сек.')
      | Оцифровка аудиокассет
    a.btn.btn-success.btn-block(href='#', data-title='Сроки и условия исполнения заказов', data-url='media/img/article4.jpg', data-body='Сроки исполнения для данной услуги устанавливаются индивидуально для каждого заказа в зависимости от объема работы, текущей загруженности, типа носителей и времени приема заказа.\
    Минимальный заказ на перезапись видеокассет составляет 1 час (т.е. запись продолжительностью менее 60 минут будет стоить как 1 час). Тарификация поминутная. Стоимость рассчитывается исходя из суммарного времени нужной вам записи всех кассет.')
      | Сроки и условия
    a.btn.btn-success.btn-block(href='#', data-title='Стоимость', data-url='media/img/article5.jpg', data-body='Оцифровка видеокассеты (формат VHS, VHS-C, S-VHS, Video8, Hi8, MiniDV, Digital8)	78 000 руб. за 1 час записи на видеокассете\
    Оцифровка видеокассеты с обработкой (включая разделение на фрагменты)	120 000 руб. за 1 час записи на видеокассете\
    Запись DVD или CD диска	20 000 руб. за 1 диск (включая стоимость диска)\
    Запись дополнительной копии DVD или CD диска	20 000 руб. за 1 диск (включая стоимость диска)\
    Запись двухслойного DVD диска	36 000 руб. за 1 диск (включая стоимость диска)\
    Запись на флешку, внешний жесткий диск, карту памяти заказчика	без оплаты\
    Разделение видеозаписи на сюжеты, фрагменты	5 000 руб. за каждый фрагмент\
    Оформление меню DVD-Video	от 32 000 руб. за 1 диск\
    Оцифровка защищенной от копирования видеокассеты 	120 000 руб. за 1 час записи на видеокассете\
    Ремонт или замена корпуса видеокассеты, склейка разрыва магнитной ленты	48 000 руб. за 1 кассету\
    Минимальный заказ на оцифровку видеокассет — 1 час. Тарификация поминутная. Расценки действительны на сегодня, 04.04.2016. Форма оплаты – наличная или безналичная (для юридических лиц). При срочном выполнении заказа применяется надбавка 80%. При безналичной форме оплаты применяется надбавка 20%.')
      | Стоимость
  .col-md-8
    block content
  .col-md-2
    br
    // pogoda.by
    // Информер распространяется свободно и на безвозмездной основе. Однако, в случае изменения кода информера (в частности, удаления ссылок), POGODA.BY снимает с себя ответственность за конечный результат.
    table(width='100%', height='180', style='background-color:#f2f2f2; border: #cccccc 1px solid; font-family:Tahoma; font-size:12px; color:#000000;', cellpadding='2', cellspacing='0')
      tr
        td
          a(href='http://6.pogoda.by/26030', style='font-family:Tahoma; font-size:12px; color:#003399;', title='Погода Новополоцк на 6 дней - Гидрометцентр РБ', target='_blank') Погода Новополоцк
      tr
        td
          table(width='100%', height='100%', style='background-color:#f2f2f2; font-family:Tahoma; font-size:12px; color:#000000;', cellpadding='0', cellspacing='0')
            tr
              td
                script(type='text/javascript', charset='windows-1251', src='http://pogoda.by/meteoinformer/js/26030_1.js')
      tr
        td(align='right')
          | Информация сайта 
          a(href='http://www.pogoda.by', target='_blank', style='font-family:Tahoma; font-size:12px; color:#003399;') pogoda.by
br(style='clear:both')
footer#footer
  a(href='#')
    | Дизайн оцифровка
  | 	&copy 2016 narubina
