doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
     div.menu
      a(href='/home') Главная
      a(href='/contact') Контакты
      a(href='/product') Товары
      a(href='/price') Стоимость
      a(href='/map') Карта проезда
     block content